/* ==========================================================================
   Mixins [`MIXN]
   ========================================================================== */
/* ==========================================================================
   Content [`CONT]
   ========================================================================== */
html {
  height: 100%;
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1336px;
  }
}
.homepage {
  background: url("../img/spraycan.jpg") center center no-repeat;
  background-size: cover;
  height: 100%;
}
.homepage .background-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}
.homepage .content {
  text-align: center;
  color: #FFFFFF;
}
.homepage .content h2 {
  font-family: 'Arial Black', Arial, sans-serif;
  margin-top: 177px;
  font-weight: 900;
  font-size: 72px;
}
.homepage .content p {
  margin-top: 55px;
  font-size: 18px;
}

.cropselection {
  background: url("../img/bg_wood.jpg") center center no-repeat;
  background-size: cover;
  height: 100%;
}
.cropselection .background-overlay {
  background: rgba(0, 0, 0, 0.37);
  height: 100%;
}
.cropselection .filter input[type="text"] {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  text-indent: 20px;
  margin-top: 30px;
  height: 60px;
  border: none;
  width: 100%;
}
.cropselection .content h2 {
  text-align: center;
  margin-top: 100px;
  color: #FFFFFF;
}
.cropselection .croplist {
  max-height: 520px;
  overflow-y: auto;
  margin-top: 50px;
}
.cropselection .croplist .crop.suggested img {
  -webkit-transition: border 0.3s ease-in-out;
  -moz-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
  border: 15px solid #FFFFFF;
}
.cropselection .croplist .crop.selected img {
  -webkit-transition: border 0.3s ease-in-out;
  -moz-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
  border: 15px solid gold;
}
.cropselection .croplist .crop:hover {
  cursor: pointer;
}
.cropselection .croplist .crop img {
  -webkit-transition: border 0.3s ease-in-out;
  -moz-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
  border: 0px solid gold;
  border-radius: 30px;
}
.cropselection .croplist input[type="checkbox"] {
  display: none;
}
.cropselection .croplist label {
  text-align: center;
  color: #FFFFFF;
  display: block;
}

.valveassignment {
  background: url("../img/growth.jpg") center center no-repeat;
  background-size: cover;
  height: 100%;
}
.valveassignment .background-overlay {
  background: rgba(0, 0, 0, 0.29);
  height: 100%;
}
.valveassignment .valvelist {
  margin-top: 100px;
}
.valveassignment .valvelist .tile-wrapper .tile {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background: #FFFFFF;
  border-radius: 2px;
  margin-top: 30px;
  padding: 15px;
}
.valveassignment .valvelist .tile-wrapper select {
  border-radius: 2px;
  text-indent: 10px;
  height: 43px;
  width: 100%;
}
.valveassignment .valvelist .tile-wrapper label {
  font-shize: 14px;
  display: block;
}
.valveassignment .valvelist .tile-wrapper h2 {
  font-size: 24px;
}

.logo a {
  background: url("../img/rsg.png") center center no-repeat;
  background-size: 100%;
  white-space: nowrap;
  text-indent: 100%;
  margin-top: 35px;
  overflow: hidden;
  display: block;
  width: 80px;
  height: 82px;
}

a.login {
  text-decoration: none;
  text-align: right;
  margin-top: 70px;
  display: block;
  color: #FFFFFF;
}
a.login:hover {
  text-decoration: none;
}

a.next,
a.submit {
  text-decoration: none;
  background: #FFFFFF;
  text-align: center;
  border-radius: 2px;
  line-height: 44px;
  font-weight: 900;
  margin-top: 70px;
  display: block;
  color: #000000;
  width: 100px;
  height: 44px;
  float: right;
}
a.next.disabled,
a.submit.disabled {
  color: #d2d2d2;
}
a.next:hover,
a.submit:hover {
  text-decoration: none;
}

a.cta-btn {
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  background: #00e676;
  border-radius: 2px;
  line-height: 60px;
  font-weight: 700;
  font-size: 18px;
  display: block;
  color: #FFFFFF;
  margin: 0 auto;
  margin-top: 70px;
  height: 60px;
  width: 340px;
}
a.cta-btn:hover {
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
  background: #1aff8f;
  text-decoration: none;
  color: darkslategrey;
}

.image-container img {
  width: 100%;
}
