        <div class="background-overlay">
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="logo">
                                <a href="#/">Ready. Set. Grow!</a>
                            </h1>
                        </div>
                        <div class="col-md-4">
                            <a class="next disabled" href="#">Next</a>
                        </div>
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="container">
                    <section class="row">
                        <div class="col-md-12">
                            <h2>Search for Crops or Select from List</h2>
                            <form class="filter">
                                <input type="text" placeholder="Crop Search...">
                            </form>
                        </div>
                    </section>

                    <section class="row croplist"></section>
                </div>
            </div>
        </div>