        <div class="background-overlay">
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="logo">
                                <a href="#/">Ready. Set. Grow!</a>
                            </h1>
                        </div>
                        <div class="col-md-4">
<!--                            <a class="submit disabled" href="#">Done</a>-->
                        </div>
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h2>Congratulations!</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore necessitatibus dolore labore quod corrupti nemo deleniti modi ducimus animi asperiores tenetur non aliquid facilis rerum cumque, pariatur mollitia quaerat. Enim, amet quod voluptas non consectetur facere quae. Omnis, corporis, obcaecati.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>